:root {
    --bg-color: #101013;
    --sub-bg-color: #1e2026;
    --form-bg-color: #1e2026;
    --input-color: #393c45;
    --sub-color: #ee692c;
    --btn-bg-hover-color: #c75b29;
    --exit-btn-border-color: #c72929;
    --form-text-color: #dedede;
    --text-color: #ffffff;
}

body {
    background: var(--bg-color);
}

header {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--sub-bg-color);
    color: var(--text-color);
}

header button {
    margin: 0;
    padding: 12px 24px;
    border: 2px solid var(--exit-btn-border-color);
    border-radius: 8px;
    background-color: var(--sub-bg-color);
    color: var(--text-color);
    font-size: 1rem;
    cursor: pointer;

    &:hover {
        background-color: var(--exit-btn-border-color);
    }
}

.profile, .control {
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--sub-bg-color);
    border-radius: 8px;
    color: var(--text-color);
}

.profile h3, .control h3 {
    margin-bottom: 10px;
    color: var(--sub-color);
}

.control-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.control-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--text-color);
}

button {
    padding: 12px;
    border: 2px solid var(--exit-btn-border-color);
    border-radius: 8px;
    background-color: var(--input-color);
    color: var(--text-color);
    cursor: pointer;

    &:hover {
        background-color: var(--exit-btn-border-color);
    }
}

.button-group {
    display: flex;
    gap: 1rem;

    & button {
        font-size: 1rem;
        padding: 1rem;
        border: 2px solid var(--sub-color);
        border-radius: 0.5rem;
        background-color: var(--sub-bg-color);
        color: var(--text-color);
        min-width: 200px;
        cursor: pointer;

        &:hover {
            background-color: var(--sub-color);
        }

        &:active {
            border-color: var(--btn-bg-hover-color);
            background-color: var(--btn-bg-hover-color);
        }
    }  
}