{% extends "base.twig" %}
{% block title %}Добавление клиента{% endblock %}
{% block content %}
<form id="form">
  <h2>Добавление клиента</h2>
  <div class="form-body">
    <div class="input-container">
      <label for="name-input">ФИО<span>*</span></label>
      <input type="text" id="name-input" name="full_name"></input>
    </div>
    <div class="input-container">
      <label for="phone-input">Номер телефона<span>*</span></label>
      <input type="text" placeholder="+7(XXX)XXX-XX-XX" id="phone-input" name="phone">
    </div>
    <div class="input-container">
      <label for="birthdate-input">Дата рождения</label>
      <input type="date" id="birthdate-input" name="birth_date">
    </div>
    <div class="input-container">
      <label for="file-input" class="file-upload">Загрузка из CSV-файла</label>
      <input type="file" id="file-input" name="file" accept=".csv">
    </div>
  </div>
  <button type="submit" class="add-btn">Добавить</button>
</form>
{% endblock %}
{% block script %}
<script src="https://unpkg.com/imask"></script>
<script type="module" src="/js/client_form.js"></script>
{% endblock %}