{% extends "base.twig" %}
{% set is_homepage = true %}
{% block title %}Главная{% endblock %}
{% block style %}<link rel="stylesheet" href="css/home.css">{% endblock %}
{% block content %}
<p>Современный фитнес-клуб в центре города</p>
<button id="book-btn">Записаться на тренировку</button>
{% endblock %}
{% block script %}
<script type="module" src="/js/home.js"></script>
{% endblock %}