{% extends "base.html.twig" %}
{% block title %}Добавление администратора{% endblock %}
{% block style %}<link rel="stylesheet" href="../css/form.css">{% endblock %}
{% block content %}
<form id="form">
  <h2>Добавление администратора</h2>
  <div class="form-body">
    <div class="username-content">
      <div class="input-container">
        <label for="last-name-input">Фамилия<span>*</span></label>
        <input type="text" id="last-name-input" name="last_name" required></input>
      </div>
      <div class="input-container">
        <label for="first-name-input">Имя<span>*</span></label>
        <input type="text" id="first-name-input" name="first_name" required></input>
      </div>
      <div class="input-container">
        <label for="surname-input">Отчество</label>
        <input type="text" id="surname-input" name="surname"></input>
      </div>
    </div>
    <div class="input-container">
      <label for="phone-input">Номер телефона<span>*</span></label>
      <input type="text" placeholder="+7(XXX)XXX-XX-XX" id="phone-input" name="phone" required>
    </div>
    <div class="input-container">
      <label for="password-input">Пароль<span>*</span></label>
      <input type="password" id="password-input" name="password" required>
    </div>
  </div>
  <button type="submit" class="add-btn">Добавить</button>
</form>
{% endblock %}
{% block script %}
<script src="https://unpkg.com/imask"></script>
<script type="module" src="../js/admin_form.js"></script>
{% endblock %}