{% extends "base.html.twig" %}
{% block title %}Пользователи{% endblock %}
{% block style %}<link rel="stylesheet" href="../css/table.css">{% endblock %}
{% block content %}
<header>
  <h2>Пользователи</h2>
  <div class="header-buttons">
    <button id="report-btn">Сохранить в PDF</button>
    <button id="add-btn">Добавить администратора</button>
  </div>
</header>
<table>
  <thead>
    <tr>
      {% if users is not empty %}
        {% for key in users|first|keys %}
          <th {% if key == "user_id" %}style="text-align: right;"{% endif %}>
            {{ columnsMap[key] ?? key|capitalize }}
          </th>
        {% endfor %}
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
      <tr>
        {% for key, value in user %}
          <td {% if key == "user_id" %}style="text-align: right;"{% endif %}>{{ value }}</td>
        {% endfor %}
      </tr>
    {% else %}
      <tr>
        <td colspan="100%">Нет данных</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
{% block script %}
<script src="../js/table.js"></script>
{% endblock %}