{% extends "base.twig" %}
{% block title %}Тренировки{% endblock %}
{% block style %}<link rel="stylesheet" href="../css/table.css">{% endblock %}
{% block content %}
<table>
  <thead>
    <tr>
      {% if schedules is not empty %}
        {% for key in schedules|first|keys %}
          <th {% if key in ["schedule_id", "trainer_id"] %}style="text-align: right;"{% endif %}> 
            {{ columnsMap[key] ?? key|capitalize }}
          </th>
        {% endfor %}
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for schedule in schedules %}
      <tr>
        {% for key, value in schedule %}
          <td {% if key in ["schedule_id", "trainer_id"] %}style="text-align: right;"{% endif %}>{{ value }}</td>
        {% endfor %}
      </tr>
    {% else %}
      <tr>
        <td colspan="100%">Нет данных</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}